.container{
    padding-top: 5%;
    padding-left: 40%;
    padding-right: 40%;
}

.oli{
    background: #00030645;
    color: aliceblue;
    margin-right: 300px;
    margin-left:300px;
}
#buton{
    margin-left: 90px;
}
#buto{
    margin-left: 71px;
    margin-top: 4px;
}



