<!DOCTYPE html>

<html xmlns="http://www.thymeleaf.org">
    <head>
        <title>listar</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/static/css/bootstrap.css}">
    </head>
    <body>
        <div class="container">
        <div th:if="${lista.isEmpty()}">
            <h2>NO HAY ESTACIONAMIENTOS A MOSTRAR</h2>
        </div>
        <div th:if="${!lista.isEmpty()}">
            <div th:each="estacionamiento:${lista}">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Estacionamiento</th>
                            <th>Cantidad</th>
                            <th>Ubicación</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr th:each="estacionamiento : ${lista}">
                            <th th:text="${estacionamiento.id}"></th>
                            <th th:text="${estacionamiento.cantidad}"></th>
                            <th th:text="${estacionamiento.ubicacion}"></th>
                            <th><a th:href="#"></a></th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        </div>

    </body>
</html>
