<!doctype html>
<html lang="en">
  <head>
    <title>Nosotros</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body background="fondo.jpeg">

    <div class="container">
        <h1 style="text-align: center; color: antiquewhite; padding-top: 20px" > DESARROLLADORES </h1>

         <div class="row">
                <div class="card; col-4" style="width: 18rem;">
                        <img src="vale.jpeg" class="card-img-top" style="height: 347px;">
                        <div class="card-body" style="color:antiquewhite">
                          <h5 class="card-title">Valentina Garcia</h5>
                          <p class="card-text"> Pro BackEnd Maker - Netbeaner Pro </p>
                        </div>
                      </div>

                      <div class="card; col-4" style="width: 18rem;">
                            <img src="manuel.jpeg" class="card-img-top" >
                            <div class="card-body" style="color:antiquewhite">
                              <h5 class="card-title"> Manuel Palma</h5>
                              <p class="card-text"> Pro FrontEnd Maker - Ppt Pro Maker </p>
                            </div>
                          </div>

                          <div class="card; col-4" style="width: 18rem;">
                                <img src="yo.jpeg" class="card-img-top" style="height: 347px;">
                                <div class="card-body" style="color:antiquewhite">
                                  <h5 class="card-title">Gustavo Pardo</h5>
                                  <p class="card-text"> Noob FrontEnd Maker - FunnyCommit Maker </p>
                                </div>
                              </div>

         </div>

    </div>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>