
<!doctype html>
<html lang="en" xmlns="http://www.thymeleaf.org">
  <head>
    <title> Estacionamiento </title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="stylo.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>

                <STYLE>
                .hideable { position: relative; visibility: visible; }
                </STYLE>
                <SCRIPT>
                function Mostrar_Ocultar(hide) {
                if (document.layers)
                /*aqui se cambian los valores 'show' y 'hide' para cultarlo o mostrarlo
                aqui la variable  (hide) esta en show para ver los campos
                document.contenido.visibility = *variable(hide)* ? *estado('show') **y despues **: 'hide'; */
                document.contenido.visibility = hide ? 'hide' : 'show';
                else {
                var g = document.all ? document.all.contenido :
                document.getElementById('contenido');
                g.style.visibility = hide ? 'visible' : 'hidden';
                }
                }
                </SCRIPT>

      

    <div class="container">
        <INPUT NAME="Accion" TYPE="checkbox"
        ONCLICK="Mostrar_Ocultar(this.checked);">
         <h1>Habilitar estacionamiento</h1>
           <SPAN ID="contenido" CLASS="hideable">
           
              
              <div class="container">
                
                          <div class="col-md-3">
                            <div class="card" style="margin:50px 0">
                                      <!-- Default panel contents -->
                                      <div class="card-header">Estacionamiento "1" Sector A</div>
                                  
                                      <ul class="list-group list-group-flush">
                                          <li class=" list-group-item" >
                                            
                                                <div class="custom-control custom-switch">
                                                    <input type="checkbox" class="custom-control-input" id="customSwitch1">
                                                    <label class="custom-control-label" for="customSwitch1"> Puesto 1 </label>
                                                </div>
                                            
                                            
                                          </li>
                                          <li class="list-group-item">
                                            Puesto
                                                      <label class="switch ">
                                <input type="checkbox" class="primary">
                                <span class="slider"></span>
                              </label>
                                          </li>
                                          <li class="list-group-item">
                                            Puesto
                                                      <label class="switch ">
                                <input type="checkbox" class="success">
                                <span class="slider"></span>
                              </label>
                                          </li>
                                          <li class="list-group-item">
                                            Puesto
                                                     <label class="switch ">
                                <input type="checkbox" class="info">
                                <span class="slider"></span>
                              </label>
                                          </li>
                                          <li class="list-group-item">
                                            Puesto
                                                     <label class="switch ">
                                <input type="checkbox" class="warning">
                                <span class="slider"></span>
                              </label>
                                          </li>
                                          <li class="list-group-item">
                                            Puesto
                                                    <label class="switch ">
                                <input type="checkbox" class="danger">
                                <span class="slider"></span>
                              </label>
                                          </li>
                                      </ul>
                                  </div> 
                                  </div>
                  </div>
              </div>
                </SPAN>

    </div>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
  </body>
</html>